telemetry {
    statsd_address = "{{ statsd_telemetry_url }}"
}

listener "tcp" {
    address         = "{{ vault_listener_addr }}"
    cluster_address = "{{ vault_listener_cluster_addr }}"
    tls_cert_file   = "{{ tls_server_cert_file_path }}"
    tls_key_file    = "{{ tls_server_key_file_path }}"
}

storage "etcd" {
    address       = "{{ etcd_cluster_url }}"
    etcd_api      = "{{ ectd_api_version }}"
    ha_enabled    = "{{ etcd_ha_enabled }}"
    tls_ca_file   = "{{ tls_client_ca_crt_file_path }}"
    tls_cert_file = "{{ tls_client_cert_file_path }}"
    tls_key_file  = "{{ tls_client_key_file_path }}"
    sync          = "{{ etcd_sync }}"
}
